.sign-in-container {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    margin-bottom: 80px;
    button {
      min-width: unset;
    }
  }
}
