.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    height: 60px;
    margin-bottom: 20px;
    font-size: 13px;

    .logo-container {
      .home-button {
        display: none;
      }
    }
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    .option {
      padding: 10px 15px;
    }

    @media screen and (max-width: 800px) {
      width: 80%;
    }
  }

  i {
    display: inline;
    margin-right: 5px;
    font-size: 20px;
  }

  .home-button {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
  }
}
