.collection-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin: 40px 0 25px 0;
  }

  .collection {
    display: flex;
    justify-content: space-between;
  }
}
